<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/map" [routerAnimation]="animation" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Artikel</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="padding: 10px;">
  <article *ngFor="let article of articles" id="article">
    <h2>{{ article.properties.title }}</h2>
    <p>{{ article.properties.description }}</p>
    <p>{{ article.properties.content }}</p>
  </article>
</ion-content>
