ion-content {
  overflow-y: hidden;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

#map {
  width: 100%;
  min-height: 70%;
}

#filter-menu {
  display: flex;
  height: 30%;
}

#filter-categories::-webkit-scrollbar {
  display: none;
}

#filter-categories {
  -ms-overflow-style: none;
  scrollbar-width: none;

  width: 50%;
  height: 100%;
  overflow-y: scroll;

  .category {
    width: 100%;
    height: auto;
    padding-right: 1px;
    margin-right: 1px; // counter the witdth of the selected item border
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;;
    p {
      padding: 2vh 0;
      text-align: center;
      margin: 0;
      font-size: 30px;
    }
  }

  .selected-category {
    border-right: solid blue 2px;
    margin-right: 0;
    background-color: #f1f1f1;
  }
}

#filter-switches {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .filter-switch {
    display: flex;
    justify-content: center;
    align-items: center;

    ion-icon {
      font-size: 30px;
    }
  }
}

.marker {
  background-image: url(../../assets/icon/favicon.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

#popup {
  position: absolute;
  top: 0;
  max-height: 20%;
  display: none;
  }
