<ion-content>
    <div id="map"></div>
    <ion-card id="popup" #popup>
        <ion-card-header>
            <ion-card-title style="max-height:80%; font-size:larger;">{{ currentFeature.properties.title }}</ion-card-title>
          </ion-card-header>
        <ion-card-content>
            <ion-nav-link>
                <a [href]="'article?id='+currentFeature.properties.id">Lees meer...</a>
            </ion-nav-link>
            <img class="logo" [src]="currentFeature.properties.broadcaster" [alt]="currentFeature.properties.broadcaster" style="max-height:30px; max-width:80px; position:absolute; right:0; bottom:0;">
        </ion-card-content>
    </ion-card>


    <div id="filter-menu">
        <div id="filter-categories">
            <div *ngFor="let category of categories" (click)="selectCategory(category.id)" class="category ion-activatable"
                 [class.selected-category]="selectedCategory.id === category.id">
                <p>{{ category.name }}</p>
            </div>
        </div>
        <div id="filter-switches">
            <div class="filter-switch" *ngFor="let filter of this.selectedCategory.filters">
                <ion-icon [name]="filter.iconUrl"></ion-icon>
                <ion-toggle (ionChange)="toggleFilter(filter)" [checked]="filter.isChecked"></ion-toggle>
            </div>
        </div>

    </div>
</ion-content>
