<ion-content [fullscreen]="true">
  <div id="map" class="match-parent"></div>

  <div id="filter-menu" >
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-toggle></ion-toggle>
        </ion-col>
        <ion-col>
          <ion-toggle></ion-toggle>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-toggle></ion-toggle>
        </ion-col>
        <ion-col>
          <ion-toggle></ion-toggle>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-toggle></ion-toggle>
        </ion-col>
        <ion-col>
          <ion-toggle></ion-toggle>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
