<ion-header>
  <ion-toolbar>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [hidden]="loggedInIsHidden" class="ion-padding" align="center">

  <ion-list>
    <ion-item>
      Email: {{userEmail}}
    </ion-item>
    <ion-item>
      <ion-label>Locatie: {{ location }}</ion-label>
      <ion-button [routerAnimation]="animation" [routerLink]="['/tabs/account/local-search']">Ander..</ion-button>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Radius</ion-label>
      <ion-toggle [(ngModel)]="radiusIsOn" (ionChange)="updateRangeToggle()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-range [(ngModel)]="radius" min="5" max="200" pin="true" (ionChange)="updateRange()" ></ion-range>
    </ion-item>
    <ion-item>
      <ion-button (click)="logout()">Uitloggen</ion-button>
    </ion-item>
  </ion-list>

</ion-content>

<ion-content [hidden]="notLoggedInIsHidden">
  <p style="padding: 5px 15px"><a (click)="this.navCtrl.navigateForward('/login')">Log in</a> of <a (click)="this.navCtrl.navigateForward('/register')">registreer</a> om de radius en locatie voorzieningen te gebruiken</p>
</ion-content>
